@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 well">
      <h2>The word "@Model.GetInputWord()" is in the following phrase @Model.WordCount() time(s).</h2>
      <h2>Phrase: @Model.GetInputString()</h2>
      <h3><a href='/'>Try again</a></h3>
  </div>
</div>
